**CS546: ACPS**

**Lab_01**

**Python Basics**


Submission Deadline : 16th Jan 2022, 23:59 hours


General Instructions:

1. You have to do this lab individually.
2. All the code should be submitted in the form of a single Jupyter notebook itself.
3. It is encouraged to use Google colab to run a jupyter notebook (https://colab.research.google.com/) 
4. The lab must be submitted on Google classroom.
5. The code with accompanying observations should be made part of the python notebook.
6. Code readability is very important.
7. Students are expected to follow the honor code of the class.

**ASSIGNMENT QUESTIONS**


**Question_1:** Create a (3x3) matrix and find the total sum of last two rows

**Question_2:** Create a list which asks user to enter number of items and item values (the user can enter integer, float and string). Therefore, the list should accept integer, float and string type of data.

ex: If the number of items entered by the user are 3 then the items values may be "hello", 2, 2.5 
The output should be like 

list1 = ['hello', 2, 2.5]

*Hint: Use for loop and append method*

**Question_3:** Create a (3x3) matrix. Add 1 to each element of the matrix and print the updated matrix.

**Question_4:** Given a matrix

A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

Write a program to swap two rows of matrix A.

**Question_5:** A Quick Service Restaurant has 1 refrigerator. There is 1 temperature sensor installed inside the refrigerator. 

Attached (https://drive.google.com/file/d/11wgWH_pYGM4YmADiHew6KKu8g1gCdK6e/view?usp=sharing) is data of temperature sensor for 10 days.

* Find the minimum and maximum temperature attained by the refrigerator.
* Find the average temperature

*Hint: Import the file to jupyter notebook and use pandas library*

In [1]:
# Write your name and entry no.
Your_Name = "Tauqeer Akhtar"
Entry_Number = "2021csm1021"

In [2]:
#importing the required libraries
import numpy as np
import pandas as pd

<h4>Question 1 </h4>

In [3]:
# Creating a 3x3 matrix 
matrix  = np.array([[1,2,3],[4,5,6],[7,8,9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
#finding the sum of last two rows of matrix 

sum_of_last_two_rows = matrix[1]+matrix[2]
print(sum_of_last_two_rows)

[11 13 15]

<h4>Question 2 </h4>

In [5]:
# A function to create list with 3 data types int , float , string

def createList():
    list_of_items = []
    number_of_items = int(input("Enter the number of items : "))
    for i in range(number_of_items):
        item = input("Enter item " + str(i) +" :")
        try:
            item = int(item)
            list_of_items.append(item)
        except ValueError:
            try:
                item = float(item)
                list_of_items.append(item)
            except:
                list_of_items.append(item)
            
    print("The list Entered is : ",list_of_items)
        
createList()

Enter the number of items : 8
Enter item 0 :hello
Enter item 1 :2.5
Enter item 2 :is
Enter item 3 :float
Enter item 4 :50
Enter item 5 :is
Enter item 6 :int
Enter item 7 :end
The list Entered is :  ['hello', 2.5, 'is', 'float', 50, 'is', 'int', 'end']

<h4> Question 3 </h4>

In [6]:
# Taking the same matrix
matrix  = np.array([[1,2,3],[4,5,6],[7,8,9]])

# creating 3x3 matrix with 1 as entries.
matrix_ones = np.ones((3,3))

print(matrix)
print("     +")
print( matrix_ones,"\n      =")

# Adding 1 to each element of matrix
print(matrix+matrix_ones)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
     +
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
      =
[[ 2.  3.  4.]
 [ 5.  6.  7.]
 [ 8.  9. 10.]]

<h4> Question 4 </h4>

In [7]:
# Taking the same 3x3 matrix to swap rows.

A = [[1,2,3], [4,5,6], [7,8,9]]

# A function to swap two rows with row numbers

def swaprows(r1,r2):
    A[r1] , A[r2] = A[r2] , A[r1]

swaprows(0,2)
# Matrix after calling the function 
print("Matrix after swapping row 0 with 2 : ",A)

Matrix after swapping row 0 with 2 :  [[7, 8, 9], [4, 5, 6], [1, 2, 3]]

<h4> Question 5 </h4>

In [8]:
# Reading the data from the csv file
df = pd.read_csv("lab1.csv")

In [9]:
#Printing the top 10 data from the dataset
df.head(10)

          Date/Time  RF_Temperature
0  01-08-2017 00:00            4.81
1  01-08-2017 00:01            3.90
2  01-08-2017 00:02            3.16
3  01-08-2017 00:03            2.72
4  01-08-2017 00:04            2.31
5  01-08-2017 00:05            2.44
6  01-08-2017 00:06            3.28
7  01-08-2017 00:07            4.00
8  01-08-2017 00:08            4.41
9  01-08-2017 00:09            4.69

In [10]:
# Finding the maximum Temperature attained by the Refrigerator
max(df["RF_Temperature"])

102.38

In [11]:
# Shows the data point where maximum temperature was attained
df[df["RF_Temperature"] == max(df["RF_Temperature"])]

              Date/Time  RF_Temperature
10749  08-08-2017 11:09          102.38

In [12]:
# Finding the minimum Temperature attained by the Refrigerator
min(df["RF_Temperature"])

1.65

In [13]:
# Shows the data point where minimum temperature was attained
df[df["RF_Temperature"] == min(df["RF_Temperature"])]

             Date/Time  RF_Temperature
4614  04-08-2017 04:54            1.65

In [14]:
# Finding the Average Temperature attained by the Refrigerator
df["RF_Temperature"].mean()

3.8181187500000244